{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "allowParens": "avoid",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": true
      }
    }
  ]
}
