body{
    background-color: #000;
    padding: 3%;
    color: #ffffff;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
}

h1 {
    font-size: 80px;
    text-align: center;
}

h2{
    font-size: 40px;
}

p{
    font-size: 20px;
}

ul li:nth-child(odd) {
    background-color: #333232;
}

strong{
    color: #fa65fa;
}
a {
    color: #cf52c5;
}
\
a:active {
    color: rgb(4, 0, 255);
}

a:visited {
    color: rgb(92, 158, 212);
}

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.image-container{
    display: flex;
    justify-content: center;
}

.displayes-me{
    float: left;
    height: 300px;
    padding: 10px;
    background-color: #cf52c5;
    left: 25%;
}

.displayes-me:hover {
    -webkit-transform: scale(2.2);
    transform: scale(1.3);
    transition: transform .5s ease;
}

IMG.displayes-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.name-complete{
    text-align: center;
    font-size: 60px;
}

.list-style{
    font-size: 20px;
}

#about {
    /* position: absolute; */
    text-align: center;
    top: 12%;
    left: 57%;
}

.redes {
    float: top;
    position: fixed;
    bottom: 0px;
    right:110px;
    background-color: #9c9c9c;
    border: 4px solid #ffffff;
}
.redes2 {
    float: top;
    position: fixed;
    bottom: 0px;
    right:20px;
    background-color: #9c9c9c;
    border: 4px solid #ffffff;
}

.footer-text{
    text-align: center;
}

.select:hover {
    background-color: blueviolet;
    color: white !important;
    border-radius: 5px;
}

#image-main {
    display: inline-block;
}

#about-main {
    display: inline-block;
    padding: 50px;
}
