* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #000;
    color: #ffffff;
    font-family: system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
}

header {
    padding: 20px;
    background-color: #230a29;
    margin-bottom: 40px;
}

section.h1-main h1 {
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

h2{
    font-size: 40px;
}

p{
    font-size: 20px;
}

ul li:nth-child(odd) {
    background-color: #333232;
}

strong{
    color: #fa65fa;
}
a {
    color: #cf52c5;
}

a:active {
    color: rgb(4, 0, 255);
}

a:visited {
    color: rgb(92, 158, 212);
}

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.image-container{
    display: flex;
    justify-content: center;
}

.displayes-me{
    height: 300px;
    padding: 10px;
    background-color: #cf52c5;
}

.displayes-me:hover {
    -webkit-transform: scale(2.2);
    transform: scale(1.3);
    transition: transform .5s ease;
}

IMG.displayes-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
}

.name-complete{
    text-align: center;
    font-size: 60px;
}

.list-style{
    font-size: 20px;
}

#about {
    /* position: absolute; */
    text-align: center;
    top: 12%;
    left: 57%;
    margin-top: .5em;
}

.redes {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-text{
    text-align: center;
    margin-top: 24px;
    
}

.select:hover {
    background-color: blueviolet;
    color: white !important;
    border-radius: 5px;
}

.h1-main {
    display: flex;
    justify-content: center;
}

article,
aside,
footer,
header,
nav,
section {
  display: block !important;
}

p.central-text {
    text-align: center;
}

footer {
    margin: 30px 10px 120px;
}
