body{
    background-color: #000;
    font-family: fantasy;
    padding: 3%;
    color: #ffffff;
}

h1 {
    font-size: 80px;
    text-align: center;
}

h2{
    font-size: 40px;
}

p{
    font-size: 20px;
}

ul li:nth-child(odd) {
    background-color: #333232;
}

strong{
    color: #fa65fa;
}
a {
    color: #cf52c5;
}

a:active {
    color: rgb(4, 0, 255);
}

a:visited {
    color: rgb(92, 158, 212);
}

.heading {
    text-align: center;
    font-size: 25px;
}

.image-container{
    height: 320px;
    position: relative;
}

.displayes-me{
    float: left;
    height: 300px;
    padding: 10px;
    background-color: #cf52c5;
    position: absolute;
    left: 25%;
}

.displayes-me:hover {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    transition: transform .5s ease;
}

IMG.displayes-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.central-text {
    font-size: 20px;
    text-align: left;
    position: absolute;
    top: 36%;
    left: 47%;
}

.name-complete{
    text-align: center;
    font-size: 60px;
}

.list-style{
    font-size: 20px;
}

#about {
    position: absolute;
    top: 12%;
    left: 57%;
}
