body{
    background-color: #000;
    font-family: fantasy;
    padding: 3%;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 30px;
}

p{
    font-size: 15px;
}

ul li:nth-child(odd) {
    background-color: #333232;
}

strong{
    color: #fa65fa;
}

.image-container{
    height: 320px;
    position: relative;
}

.displayes-me{
    float: left;
    height: 300px;
    padding: 10px;
    background-color: #cf52c5;
    }

IMG.displayes {
    display: block;
    margin-left: auto;
    margin-right: auto;
     border-radius: 10px;
}

.central-text {
    font-size: 20px;
    text-align: left;
    position: absolute;
    top: 36%;
    left: 40%;
}

.list-style{
    font-size: 20px;
}

#about {
    position: absolute;
    top: 20%;
    left: 55%;
}
