body{
    background-color: #000;
    font-family: fantasy;
}
/* .central-content{
    text-align: center;
} */
h1 {
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 16px;
}

.central-text{
    font-size: 20px;
    text-align: center;
}

strong{
    color: #fa65fa;
}

.list-style{
    font-size: 20px;
    /* width: 70%;
    margin: auto; */
}

IMG.displayes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.underline{
    text-decoration: underline;
}